name: Build Windows Executable

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '**.md'
      - 'docs/**'

jobs:
  windows_exe:
    name: Build Windows Executable
    runs-on: windows-latest
    env:
      PYTHONUTF8: 1 # Muy importante en Windows para evitar errores de caracteres
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      
      - name: Install Dependencies
        run: |
          pip install flet>=0.25.2
          if (Test-Path requirements.txt) { pip install -r requirements.txt }

      - name: Build Windows App
        run: |
          flet build windows --verbose

      - name: Install Inno Setup
        run: |
          choco install innosetup

      - name: Compile Windows Installer
        run: |
          & "C:\Program Files (x86)\Inno Setup 6\ISCC.exe" installer.iss

      - name: Upload Windows Installer
        uses: actions/upload-artifact@v4
        with:
          name: SOS_Digital_PyME_Setup
          path: Output/*
